extends layout

block content

    .col-xs-4.col-sm-4.col-md-4.col-lg-4
    .col-xs-4.col-sm-4.col-md-4.col-lg-4.loginForm
        br
        p ingrese usuario y contraseña
        br
        input.form-control(
            id= "username"
            placeholder= "Usuario"
        )
        br
        input.form-control(
            id= "password"
            placeholder= "Contraseña"
        )
        br
    .col-xs-4.col-sm-4.col-md-4.col-lg-4