extends layout

block content

    .col-xs-1.col-sm-4.col-md-4.col-lg-5
    .col-xs-10.col-sm-4.col-md-4.col-lg-2.loginForm
        br
        p Ingrese DNI para acceder
        br
        input.form-control(
            id= "username"
            placeholder= "DNI del titular"
        )
        br
        button.btn.btn-primary(
            id="loginbutton"
        ) Entrar
        br
        br
    .col-xs-1.col-sm-4.col-md-4.col-lg-5

    script.

        $('#loginbutton').click(function(){

            $.getJSON('/trylogin', function(data){
                console.log(data)
            })
        })